/* container styling */

.page-not-found-container {
  padding: 200px 0px;
  text-align: center;
}

/* text styling */
h1 {
  font-weight: bold;
  margin: 10px;
}

/* error page styling */
.page-not-found {
  color: rgb(43, 43, 68);
  font-weight: bold;
}
