<!-- Carousel for the home page -->

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="overlay-image"
        style="background-image: url('https://images.unsplash.com/photo-1576786143916-fbcc2e1a0f41?q=80&w=1479&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
      </div>
      <div class="container">
        <h1>First Slide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis harum nulla hic dolorem sint, obcaecati
          suscipit eos fuga inventore incidunt at deserunt facilis reprehenderit modi repellendus nostrum? Totam, natus.
        </p>
        <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
      </div>
    </div>

    <div class="carousel-item">
      <div class="overlay-image"
        style="background-image: url('https://images.unsplash.com/photo-1701822770347-26898fe298e3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

      </div>
      <div class="container">
        <h1>Second Slide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis harum nulla hic dolorem sint, obcaecati
          suscipit eos fuga inventore incidunt at deserunt facilis reprehenderit modi repellendus nostrum? Totam, natus.
        </p>
        <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
      </div>
    </div>

    <div class="carousel-item">
      <div class="overlay-image"
        style="background-image: url('https://images.unsplash.com/photo-1539603957728-7e6cd010c04a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">

      </div>
      <div class="container">
        <h1>Third Slide</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis harum nulla hic dolorem sint, obcaecati
          suscipit eos fuga inventore incidunt at deserunt facilis reprehenderit modi repellendus nostrum? Totam, natus.
        </p>
        <a href="#" class="btn btn-lg btn-primary">Sign up today</a>
      </div>
    </div>
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>