@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body { 
    height: 100%;
}